<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="Base.TestListener"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="AviTask">
        <classes>
            <class name="Test.ItemsTest">
                <methods>
                    <include name="sockTest"/>
                    <include name="carpetTest"/>
                    <include name="cloakTest"/>
                    <include name="bucketTest"/>
                    <include name="chairTest"/>
                </methods>
            </class>
            <class name="Test.PagiTest">
                <methods>
                    <include name="pagi5Test"/>
                    <include name="pagi10Test"/>
                    <include name="pagi15Test"/>
                    <include name="pagi20Test"/>
                    <include name="pagi25Test"/>
                </methods>
            </class>
            <class name="Test.SortTest">
                <methods>
                    <include name="sortedFromHighToLow"/>
                    <include name="sortedFromLowToHigh"/>
                </methods>
            </class>
            <class name="Test.CreateNewAdvTest">
                <methods>
                    <include name="advNameFieldTest"/>
                    <include name="advPriceTest"/>
                    <include name="advDescFieldTest"/>
                    <include name="advURLPicFieldTest"/>
                </methods>
            </class>
            <class name="Api.ApiTest">
                <methods>
                    <include name="getItemTest"/>
                    <include name="createItemTest"/>
                    <include name="getStatisticItemTest"/>
                    <include name="getItemsSellerTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>